In [4]:
'''
Code to extract the airport names and codes from the html text
'''
from bs4 import BeautifulSoup
import pandas as pd

df=pd.DataFrame(columns=['Airport_name','Airport_code'])


with open('reference_data/airports_list.txt', 'r') as f:
        for html_tag in f:
            soup = BeautifulSoup(html_tag, 'html.parser')
            #pr(soup)
            option_value_text = soup.option['value']
            airport_name= soup.text.replace("\n", "")
            df.loc[len(df)] = [airport_name, option_value_text]
            
            
#df.to_csv('airport_codes_reference.csv',index=False)

In [5]:
from bs4 import BeautifulSoup
import pandas as pd

df=pd.DataFrame(columns=['Carrier_name','Carrier_code'])


with open('reference_data/carriers_list.txt', 'r') as f:
        for html_tag in f:
            soup = BeautifulSoup(html_tag, 'html.parser')
            option_value_text = soup.option['value']
            Carrier_name= soup.text.replace("\n", "")
            df.loc[len(df)] = [Carrier_name, option_value_text]
            
#df.to_csv('airport_carrier_codes_reference.csv',index=False)

In [6]:
df

                         Carrier_name Carrier_code
0                   ATA Airlines (TZ)           TZ
1                AirTran Airways (FL)           FL
2           Alaska Airlines Inc. (AS)           AS
3                  Allegiant Air (G4)           G4
4            Aloha Airlines Inc. (AQ)           AQ
5     America West Airlines Inc. (HP)           HP
6         American Airlines Inc. (AA)           AA
7   American Eagle Airlines Inc. (MQ)           MQ
8        Atlantic Coast Airlines (DH)           DH
9    Atlantic Southeast Airlines (EV)           EV
10                   Comair Inc. (OH)       OH (1)
11     Continental Airlines Inc. (CO)           CO
12           Delta Airlines Inc. (DL)           DL
13             Endeavor Air Inc. (9E)           9E
14                     Envoy Air (MQ)           MQ
15      ExpressJet Airlines Inc. (EV)           EV
16      ExpressJet Airlines Inc. (XE)           XE
17       ExpressJet Airlines LLC (EV)           EV
18        Frontier Airlines Inc. (F9)           F9
19        Hawaiian Airlines Inc. (HA)           HA
20                   Horizon Air (QX)           QX
21              Independence Air (DH)           DH
22               JetBlue Airways (B6)           B6
23            Mesa Airlines Inc. (YV)           YV
24       Northwest Airlines Inc. (NW)           NW
25             PSA Airlines Inc. (OH)           OH
26        Pinnacle Airlines Inc. (9E)           9E
27              Republic Airline (YX)           YX
28         SkyWest Airlines Inc. (OO)           OO
29        Southwest Airlines Co. (WN)           WN
30               Spirit Airlines (NK)           NK
31               US Airways Inc. (US)           US
32          United Airlines Inc. (UA)           UA
33                Virgin America (VX)           VX

In [7]:
df[df['Airport_name']=='Abilene, TX: Abilene Regional (ABI)']['Airport_code'].item()

KeyError: 'Airport_name'

In [10]:
import pyodbc

# Connect to the database
DRIVER_NAME = 'SQL SERVER'
SERVER_NAME = 'Sniperwolf'
DATABASE_NAME = 'DEMODB'
connection_string=f"""
    DRIVER={{{DRIVER_NAME}}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trust_Connection=yes;
"""
cnxn = pyodbc.connect(connection_string)

# Execute a SQL query
cursor = cnxn.cursor()

In [ ]:
# cursor.execute("""CREATE TABLE airline_stats (
#     source VARCHAR(255),
#     destination VARCHAR(255),
#     carrier VARCHAR(255),
#     date DATE,
#     flightNumber VARCHAR(255),
#     tailNumber VARCHAR(255),
#     scheduledDepartureTime VARCHAR(255),
#     actualDepartureTime VARCHAR(255),
#     scheduledElapsedMinutes INT,
#     actualElapsedMinutes INT,
#     departureDelayMinutes ,
#     wheelsOffTime VARCHAR(255),
#     taxiOutMinutes ,
#     delayCarrierMinutes ,
#     delayWeatherMinutes INT,
#     delayNationalAviationSystemMinutes INT,
#     delaySecurityMinutes INT,
#     delayLateAircraftArrivalMinutes INT
# );""")

In [9]:
import pandas as pd
df = pd.read_csv('ABE.csv',header=0)

In [17]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO airline_stats (
                    source_,
                    destination,
                    carrier,
                    date,
                    flightNumber,
                    tailNumber,
                    scheduledDepartureTime,
                    actualDepartureTime,
                    scheduledElapsedMinutes ,
                    actualElapsedMinutes ,
                    departureDelayMinutes ,
                    wheelsOffTime,
                    taxiOutMinutes,
                    delayCarrierMinutes,
                    delayWeatherMinutes,
                    delayNationalAviationSystemMinutes,
                    delaySecurityMinutes,
                    delayLateAircraftArrivalMinutes
                )
                VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
                ''',
                row.source,
                row.destination,
                row.carrier,
                row.date,
                row.flightNumber,
                row.tailNumber,
                row.scheduledDepartureTime,
                row.actualDepartureTime,
                row.scheduledElapsedMinutes,
                row.actualElapsedMinutes,
                row.departureDelayMinutes,
                row.wheelsOffTime,
                row.taxiOutMinutes,
                row.delayCarrierMinutes,
                row.delayWeatherMinutes,
                row.delayNationalAviationSystemMinutes,
                row.delaySecurityMinutes,
                row.delayLateAircraftArrivalMinutes,
                )
conn.commit()

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 9 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [15]:
for ele in df.columns:
    print('row.'+ele+',')

row.Unnamed: 0,
row.source,
row.destination,
row.carrier,
row.date,
row.flightNumber,
row.tailNumber,
row.scheduledDepartureTime,
row.actualDepartureTime,
row.scheduledElapsedMinutes,
row.actualElapsedMinutes,
row.departureDelayMinutes,
row.wheelsOffTime,
row.taxiOutMinutes,
row.delayCarrierMinutes,
row.delayWeatherMinutes,
row.delayNationalAviationSystemMinutes,
row.delaySecurityMinutes,
row.delayLateAircraftArrivalMinutes,